@model List<StellerAcunMedyaPortfolio.Models.TblContact>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<h2>İletişim Bilgileri</h2>
<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Telefon</th>
        <th>Email</th>
        <th>Adres</th>
        <th>Harita Url</th>
        <th>Sil</th>
        <th>Güncelle</th>

    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <th>@item.Phone</th>
            <th>@item.Email</th>
            <th>@item.Address</th>
            <td><a href="@item.MapUrl" target=_"blank" >Harita Linki </a></td>
            <td><a href="/Contact/DeleteFeature/@item.ContactId" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Contact/UpdateFeature/@item.ContactId" class="btn btn-outline-info">Güncelle</a></td>
        </tr>
    }
</table>

<br />

<a href="/Feature/AddFeature" class="btn btn-outline-primary">Yeni Öne Çıkan Alanı</a>

